backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: Create {{collection}} “{{slug}}”
    update: Update {{collection}} “{{slug}}”
    delete: Delete {{collection}} “{{slug}}”
    uploadMedia: Upload “{{path}}” [skip ci]
    deleteMedia: Delete “{{path}}”

media_folder: static/img
public_folder: /img

collections:
  - name: "nyheter"
    label: "Nyheter"
    folder: "src/pages/nyheter"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "blog-post"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Sponsored Content", name: "sponsored", widget: "boolean", default: false, required: false}
      - {label: "Featured Content", name: "featured", widget: "boolean", default: false, required: false}
      - {label: "Feature Image", name: "image", widget: "image", required: false}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Tags", name: "tags", widget: "list"}

  - name: "video"
    label: "Video"
    folder: "src/pages/video"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "video-post"}
      - {label: "Program", name: "program", widget: "select", options: ["Fonder Direkt", "Fonder Direkt Monthly Roundup", "Fonder Direkt ESG", "Hållbarhetssnack med", "Fonder Direkt Live"]}
      - {label: "Video ID", name: "videoId", widget: "string", required: true}
      - {label: "SoundCloud ID", name: "soundCloudId", widget: "string", required: false}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Featured Content", name: "featured", widget: "boolean", default: false, required: false}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Tags", name: "tags", widget: "list"}

  - name: "fd-akademi"
    label: "FD Akademi"
    folder: "src/pages/fd-akademi"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "education-post"}
      - {label: "Video ID", name: "videoId", widget: "string", required: false}
      - {label: "SoundCloud ID", name: "soundCloudId", widget: "string", required: false}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Featured Content", name: "featured", widget: "boolean", default: false, required: false}
      - {label: "Feature Image (16:9 Ratio), required if no Video", name: "image", widget: "image", required: false}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Tags", name: "tags", widget: "list"}

  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/om-fonder-direkt/index.md"
        label: "Om Fonder Direkt"
        name: "om-fonder-direkt"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "about-page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Body", name: "body", widget: "markdown"}
