@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Merriweather:400,400i,700,700i');
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Typography
$body-size: 18px;
$body-line-height: 1.58;
$family-sans-serif: "Fjalla One", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-serif: "Merriweather", "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif;
$family-primary: $family-serif;
$family-secondary: $family-sans-serif;
h1, h2, h3 ,h4, h5, h6 {
  font-family: $family-secondary;
  font-weight: $weight-normal;
}
$content-heading-weight: $weight-normal;
nav.navbar {
  font-family: $family-secondary;
}
$title-weight: $weight-normal;

// Colors
$fonder-direkt-blue: #027184;
$fonder-direkt-blue-invert: white;

$primary: $fonder-direkt-blue;
$primary-invert: $fonder-direkt-blue-invert;
$link: $primary;

// EMBED RESPONSIVE
/* purgecss start ignore */
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
  }

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.embed-responsive-21by9 {
  &::before {
    padding-top: percentage(9 / 21);
  }
}

.embed-responsive-16by9 {
  &::before {
    padding-top: percentage(9 / 16);
  }
}

.embed-responsive-4by3 {
  &::before {
    padding-top: percentage(3 / 4);
  }
}

.embed-responsive-1by1 {
  &::before {
    padding-top: percentage(1 / 1);
  }
}
/* purgecss end ignore */

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}

// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important;
}

@import "~bulma";